*{
    margin: 0;
    padding:0;
    text-transform: capitalize;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: black;
}

ul{
    list-style: none;
}
   
.nav-links{
    display: flex;
    align-items: center;
    font-size: 18px;
}
  
.nav-links li{
    margin: 0 30px;
}
.book{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.content{
    margin-left: 100px;
    margin-top: 150px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.content .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    margin-left: -450px;
}

.data .t{
    margin-bottom: 130px;
    font-size: 50px;
    width: 413px;
    font-weight: bolder;
}
.data .l{
    width: 300px;
}

.data .b{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.ctno{
    background-color: orange;
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 70px;
}
.ctnb{
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 70px;
}
.photo{
    display: flex;
    justify-content: baseline;
    margin-left: -450px;
}

.big{
    height: 575px;
    margin-left:200px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.small{
 height:300px ;
 margin-left: -550px;
 z-index: 1;
 margin-top: 270px;
}
body{
    background-color:#f4f4f4;
}
.social span{
    padding: 9px;
}

.data .social{
    margin-top: 35px;
    display: flex;
    width: 50px;
}

.social .link{
      text-decoration: none;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 25px;
      border: 2px solid ;
}
.wrapper{
    margin-top: 0px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.wrapper .body{
    margin-top: 49px;
}
p{
    height: 30px;
    width: 200px;
}
.body{
    height: 30px;
    width: 294px;
}
.wrapper .img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    gap: 50px;
}
.img{
    margin-top: 150px;
}
.img .i{
    width: 240px;
    height: 325px;
    background-color:white;
    position:relative;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 70px;
    display: flex;
    justify-content: center;
}
.i img{
    position: absolute;
    bottom: 230px;
    left: 15px;
}
.photo .v{
    position: relative;
    left: 173px;
    z-index: -1;
}
.heading p{
    margin-top: 30px;
    width: 100%;
    font-size: 50px;
    font-weight: bolder;
}

.i .ihead{
    margin-top: 110px;
}

.ihead p{
    margin-top: 15px;
}

.i .rate{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 333px;
    left: 189px;
    font: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flower{
    position: absolute;
    left: 377px;
    top: 716px;
}

.welcome{
    margin-top: 100px;
    margin-bottom: 50px;
}
.wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.butt{
    margin-top: 100px;
}

.content3{
    margin-left: -287px;
    margin-right: 82px;
}

.wel{
    font-size: 50px;
    width: 413px;
    font-weight: bolder;
    margin-bottom: 120px;
}

.d{
    width: 400px;
}

.img3 img{
    height: 600px;
    position: relative;
    margin-left: -1092px;
}

.tr{
    z-index: 1;
    top: -241px;
    left: 806px;
    position: relative;
}
.tr0{
    z-index: 1;
    top: 214px;
    left: 900px;
    position: relative;
}
.tr1{
    z-index: 1;
    top: -89px;
    left: 4px;
    position: relative;
}

.tr2{
    top: 245px;
    z-index: 1;
    left: -583px;
    position: relative;
}

.tr3{
    z-index: 1;
    top: -28px;
    left: -874px;
    position: relative;
}
.tr4{
    z-index: 1;
    top: 134px;
    left: -590px;
    position: relative;
}

.wrapper4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image4 .img4{
    border-radius: 35px;
}
.subscribe{
    position: relative;
    bottom: 260px;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    width: 615px;
    text-align: center;
}
.co4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mail{
    position: relative;
    bottom: 174px;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    width: 615px;
    text-align: center;
}

input::placeholder{
    color: black;
    font-weight: 1px;
}

.mb{
    background-color: orange;
    color: white;
    height: 40px;
    width: 80px;
    position: relative;
    left: 258px;
    top: -219px;
    border-radius: 15px;
}

.con{
    margin-top: 150px;
}


