*{
    margin: 0;
    padding:0;
    text-transform: capitalize;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: black;
}

ul{
    list-style: none;
}
   
.nav-links{
    display: flex;
    align-items: center;
    font-size: 18px;
}
  
.nav-links li{
    margin: 0 30px;
}
.book{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.ctno{
    background-color: orange;
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 70px;
}
.data .t{
    margin-bottom: 130px;
    font-size: 50px;
    width: 511px;
    font-weight: bolder;
    margin-top: 135px
}
.data .l{
    width: 475px;
    margin-bottom: 69px;
    margin-top: -100px;
    margin-left: 6px;
}

.content{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.v{
    position: relative;
    top: -211px;
    left: -576px;
    z-index: -1;
}

.c{
    position: relative;
    top: -936px;
}

