* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #89CFF0, #87CEEB, #FFDAB9);
    color: #fff;
}

.weather-app {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    width: 70%;
    height: 35px;
}

#search-btn {
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background: #FFEBE8;
    color: #000000;
    cursor: pointer;
}


.weather-info h2 {
    margin-bottom: 10px;
}

.weather-info p {
    margin: 5px 0;
}

#search-btn:hover{
    background-color: rgb(247, 245, 245);
    color: black;
}